* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background: url(ABVewCv-minecraft-background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 44% 0%;
}

#root {
  max-width: 90%;
  width: 90%;
  margin: auto;
}

.App {
  margin-top: 1rem;
  position: relative;
  max-width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: .5rem;
  padding-bottom: 1rem;
}


table {
  table-layout: fixed;
  width: 100%;
}

.table th {
  background-color: rgb(59, 255, 213);
  font-size: .5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.table td {
  background-color: rgb(228, 230, 230);
  font-size: .5rem;
  padding: .1rem;
  text-align: right;
}

.table td:first-child {
  text-align: left;
}

table td:nth-child(2) {
  text-align: left;
}

table th:first-child,
table td:first-child {
  width: 5%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 22%;

}